@charset "UTF-8";

body {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	-o-user-select: none;
	user-select: none;

	overflow-x: hidden;
	font-family: 'Noto Sans KR', Helvetica, sans-serif;
	background-color: #212121;
	font-size: 17px;
	
	background-image: url(../images/login.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-color: #3A1D1D44;
	background-blend-mode: overlay;
	
	/* 브라우저 호환성 */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

h1, h2 {
	font-family: Montserrat, Helvetica, sans-serif;
}

a {
	color: #F2F2F2;
	text-decoration: none;
}

a:hover {
	color: #A6978F;
}

/* mainNav 스타일 */
#mainNav {
	background-color: #212121;

	-webkit-transition: all .3s;
	-khtml-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

#mainNav .navbar-brand {
	color: #BFA288;
	font-family: 'Anton', Helvetica, sans-serif;
	font-size: 24px;

	-webkit-transition: all .3s;
	-khtml-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
	color: #735645;
}

#mainNav .nav-link {
	color: #F2F2F2;
	font-size: 16px;
	font-weight: bold;

	-webkit-transition: all .3s;
	-khtml-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

#mainNav .nav-link:hover,
#mainNav .nav-link:focus,
#mainNav .nav-link:active {
	color: #A6978F;
}

#mainNav .navbar-toggler {
	padding: 10px 5px;
	font-weight: bold;
	background-color: #735645;
	color: #D9D9D9;
}

#mainNav .navbar-toggler:focus,
#mainNav .navbar-toggler:active {
	outline: none;
	box-shadow: none;
}

@media (min-width :768px) {

	#mainNav .nav-link {
		padding: 0px 20px;
	}

	/* mainNav가 최상단에 붙어 있을 때 */
	#mainNav.navbar-on-top {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: transparent;
	}

	#mainNav.navbar-on-top .navbar-brand {
		font-size: 36px;
	}

	#mainNav.navbar-on-top .nav-link {
		font-size: 20px;
		padding: 0px 16px;
		text-shadow: 1px 1px #40221155;
	}
}

/* form-section 스타일 */
#form-section {
	padding-top: 150px;
	margin: 0 auto;
	text-align: center;
}

@media (min-width :351px) {
	#form-section {
		width: 350px;
	}
}

#form-section .container {
	background-color: #80848CCC;
	padding-bottom: 15px;
	padding-top: 15px;
	border-radius: 10px;
}

#form-section .heading {
	color: #F2F2F2;
}

#form-section .form-group {
	margin-bottom: 15px
}

#form-section .form-group input, #form-section .form-group textarea
{
	padding: 10px 15px
}

#form-section .form-group p
{
	font-size: 12px;
	color: #F2F2F2;
	text-align: left;
}