@charset "UTF-8";

body {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	-o-user-select: none;
	user-select: none;

	overflow-x: hidden;
	font-family: 'Noto Sans KR', Helvetica, sans-serif;
	background-color: #212121;
	font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

h1, h2 {
	font-family: Montserrat, Helvetica, sans-serif;
}

a {
	color: #F2F2F2;
	text-decoration: none;
}

a:hover {
	color: #A6978F;
}

section {
	padding: 100px 0;
}

section:nth-of-type(n+2) {
	margin-top: 20px;
}

section .heading {
	font-size: 40px;
	margin-top: 15px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

section .subheading {
	font-size: 25px;
	margin-bottom: 40px;
	text-transform: none;
	font-family: 'Noto Sans KR', Helvetica, sans-serif;
}

[data-aos] {
	visibility: hidden;
}

[data-aos].animate__animated {
	visibility: visible;
	pointer-events: auto;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@media ( min-width :768px) {
	section {
		padding: 150px 0;
	}
}

/* mainNav 스타일 */
#mainNav {
	background-color: #212121;

	-webkit-transition: all .3s;
	-khtml-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

#mainNav .navbar-brand {
	color: #BFA288;
	font-family: 'Anton', Helvetica, sans-serif;
	font-size: 24px;

	-webkit-transition: all .3s;
	-khtml-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
	color: #735645;
}

#mainNav .nav-link {
	color: #F2F2F2;
	font-size: 16px;
	font-weight: bold;

	-webkit-transition: all .3s;
	-khtml-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

#mainNav .nav-link:hover,
#mainNav .nav-link:focus,
#mainNav .nav-link:active {
	color: #A6978F;
}

#mainNav .navbar-toggler {
	padding: 10px 5px;
	font-weight: bold;
	background-color: #735645;
	color: #D9D9D9;
}

#mainNav .navbar-toggler:focus,
#mainNav .navbar-toggler:active {
	outline: none;
	box-shadow: none;
}

@media (min-width :768px) {

	#mainNav .nav-link {
		padding: 0px 20px;
	}

	/* mainNav가 최상단에 붙어 있을 때 */
	#mainNav.navbar-on-top {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: transparent;
	}

	#mainNav.navbar-on-top .navbar-brand {
		font-size: 36px;
	}

	#mainNav.navbar-on-top .nav-link {
		font-size: 20px;
		padding: 0px 16px;
		text-shadow: 1px 1px #40221155;
	}
}

/* hello-section 스타일 */
#hello-section {
	padding-top: 200px;
	padding-bottom: 200px;

	text-align: center;
	text-shadow: 1px 1px #40221155;
	color: #F2F2F2;

	background-image: url(../images/hello.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-color: #3A1D1D44;
	background-blend-mode: overlay;

	/* 브라우저 호환성 */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#hello-section .container .lead-in {
	color: #BFA288;
	font-size: 30px;
	font-family: 'Kaushan Script', cursive, Helvetica, sans-serif;
	--animate-duration: 1.5s;
  	--animate-delay: 0.5s;
}

#hello-section .container .text {
	font-size: 40px;
	--animate-duration: 1.5s;
  	--animate-delay: 1s;
}

#hello-section .btn-to-next {
	margin-top: 100px;
	font-size: 50px;
	color: #BFA288;

	-webkit-transition: color 0.3s;
	-khtml-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;

	--animate-duration: 1.5s;
  	--animate-delay: 1.5s;
}

#hello-section .btn-to-next:focus, #hello-section .btn-to-next:hover {
  color: #735645;
  outline: none;
  box-shadow: none;
}

@media (min-width :768px) {
	#hello-section {
		padding-top: 250px;
		padding-bottom: 250px
	}

	#hello-section .container .lead-in {
		font-size: 40px;
	}

	#hello-section .container .text {
		font-size: 50px;
	}
}

/* introduce-section 스타일 */
#introduce-section {
	text-align: center;
	font-weight: bold;

	color: #212121;

	background-image: url(../images/introduce.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-color: #E9954B22;
	background-blend-mode: overlay;

	/* 브라우저 호환성 */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#introduce-section .container {
	background-color: #40221130;
	border-radius: 10px;
	padding-top: 15px;
	padding-bottom: 30px;
}

#introduce-section .heading {
	--animate-duration: 1.5s;
  	--animate-delay: 0.2s;
}

#introduce-section .subheading {
	--animate-duration: 1.5s;
  	--animate-delay: 0.3s;
}

#introduce-section img {
	width: 200px;
	height: 200px;
	margin-bottom: 15px;
	border: 4px solid #BFA28888;

	--animate-duration: 1.5s;
  	--animate-delay: 0.4s;
}

#introduce-section h4 {
	font-family: Montserrat, Helvetica, sans-serif;
	font-size: 28px;

	--animate-duration: 1.5s;
  	--animate-delay: 0.5s;
}

#introduce-section .job {
	font-size: 22px;
	margin-bottom: 15px;

	--animate-duration: 1.5s;
  	--animate-delay: 0.6s;
}

#introduce-section .container>div:nth-of-type(1) {
	--animate-duration: 1.5s;
  	--animate-delay: 0.7s;
}

#introduce-section .social-buttons>li:nth-of-type(1) {
	--animate-duration: 1.5s;
  	--animate-delay: 0.8s;
}

#introduce-section .social-buttons>li:nth-of-type(2) {
	--animate-duration: 1.5s;
  	--animate-delay: 0.9s;
}

#introduce-section .social-buttons>li:nth-of-type(3) {
	--animate-duration: 1.5s;
  	--animate-delay: 1s;
}

#introduce-section .social-buttons>li:nth-of-type(4) {
	--animate-duration: 1.5s;
  	--animate-delay: 1.1s;
}

#introduce-section .social-buttons>li:nth-of-type(5) {
	--animate-duration: 1.5s;
  	--animate-delay: 1.2s;
}

#introduce-section .social-buttons>li:nth-of-type(6) {
	--animate-duration: 1.5s;
  	--animate-delay: 1.3s;
}

#introduce-section .container>div:nth-of-type(2) {
	--animate-duration: 1.5s;
  	--animate-delay: 1.4s;
}

#introduce-section .social-buttons {
	margin-top: 15px;
	margin-bottom: 25px;
}

#introduce-section a {
	color: #212121;
}

#introduce-section .social-buttons a {
	font-size: 20px;
	color: #F2F2F2;
	display: block;
	line-height: 40px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #212121;
	outline: 0;
}